body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #5C0000;
    padding: 20px;
}

h1 {
    font-size: 40px;
}

h2 {
    color: #FF0000;
}

section {
    margin: 30px;
    padding: 20px;
    border: 2px solid #5C0000;
}

img {
    width: 250px;
    height: 300px;
}

p {
    font-size: 18px;
}

ul {
    list-style-position: inside;
}

button {
    background-color: #5C0000;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px;
    border: 2px solid #FFFFFF;
}

footer {
    background-color: #5C0000;
    padding: 10px;
}
